/* Dracula theme for starttree */
:root {
		--background: #282a36;
		--foreground: #f8f8f2;
		--cursor: #44475A; 

		--color0: #21222C;
		--color1: #FF5555;
		--color2: #50FA7B;
		--color3: #F1FA8C;
		--color4: #BD93F9;
		--color5: #FF79C6;
		--color6: #8BE9FD;
		--color7: #F8F8F2;
		--color8: #6272A4;
		--color9: #FF6E6E;
		--color10: #69FF94;
		--color11: #FFFFA5;
		--color12: #D6ACFF;
		--color13: #FF92DF;
		--color14: #A4FFFF;
		--color15: #FFFFFF;
}
