:root {
    /* Special */
    --background: #000000;
    --foreground: #9fc8e0;
    --cursor: #9fc8e0;

    /* Colors */
    --color0: #000000;
    --color1: #8B1374;
    --color2: #2D3090;
    --color3: #512F91;
    --color4: #325AB7;
    --color5: #4C5AA5;
    --color6: #B91F9E;
    --color7: #9fc8e0;
    --color8: #6f8c9c;
    --color9: #8B1374;
    --color10: #2D3090;
    --color11: #512F91;
    --color12: #325AB7;
    --color13: #4C5AA5;
    --color14: #B91F9E;
    --color15: #9fc8e0;
}
