/* nord for starttree */
:root {
	--background: #2e3440;
	--foreground: #eceff4;
	--cursor: #d8dee9;

	--color0: #2e3440;
	--color1: #a3be8c;
	--color2: #bf616a;
	--color3: #b48ead;
	--color4: #3b4252;
	--color5: #ebcb8b;
	--color6: #88c0d0;
	--color7: #8fbcbb;
	--color8: #424c5e;
	--color9: #a3be8c;
	--color10: #bf616a;
	--color11: #b48ead;
	--color12: #4c566a;
	--color13: #ebcb8b;
	--color14: #88c0d0;
	--color15: #8fbcbb;
}

* {
	font-family: monospace !important;
}
