/* Tokyo Night theme for starttree */
:root {
--foreground:    #A9B1D6;
--background:    #1A1B26;
--cursor:        #A9B1D6;

--color0:        #1A1B26;
--color1:        #F7768E;
--color2:        #E0AF68;
--color3:        #9ECE6A;
--color4:        #7AA2F7;
--color5:        #9A7ECC;
--color6:        #4ABAAF;
--color7:        #ACB0D0;
--color8:        #4E5173;
--color9:        #E06C75;
--color10:       #D19A66;
--color11:       #98C379;
--color12:       #61AFEF;
--color13:       #C678DD;
--color14:       #56B6C2;
--color15:       #ABB2BF;
}
