:root {
    /* Special */
    --background: #000000;
    --foreground: #c0c6c7;
    --cursor: #c0c6c7;

    /* Colors */
    --color0: #000000;
    --color1: #128faa;
    --color2: #558fa9;
    --color3: #9790a6;
    --color4: #b17379;
    --color5: #b45255;
    --color6: #bf3032;
    --color7: #c0c6c7;
    --color8: #425458;
    --color9: #128faa;
    --color10: #558fa9;
    --color11: #9790a6;
    --color12: #b17379;
    --color13: #b45255;
    --color14: #bf3032;
    --color15: #c0c6c7;
}
